## Environment variables to be used in this repo
## - copy/paste (and update values) into a .env file in the root of the repository

POSTGRES_DB=YOUR_DB_NAME
POSTGRES_USER=YOUR_USERNAME
POSTGRES_PASSWORD=YOUR_PASSWORD
POSTGRES_TEST_DB=YOUR_TEST_DB_NAME
